rightmove/src/test/resources/rtdf/xml-schema/Phase 3 calls - Performance Reporting/GetBranchPhoneLeadsResponseSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getBranchPhoneLeadsResponse">
		<xs:annotation>
			<xs:documentation>Rightmove Realtime Datafeed XML Schema for the get branch phone leads response
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="request_id">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The unique ID of the request which this response is associated with
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="message">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The message content for the response
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="success">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								Indicates whether or not the request was successful
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:boolean"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="request_timestamp">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The time at which the request was received in the format: dd-MM-yyyy HH:mm:ss
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="response_timestamp">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The time at which the response was sent in the format: dd-MM-yyyy HH:mm:ss
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="replication_lag" minOccurs="0">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The current lag time for replicating between the three Rightmove data centres in minutes
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:integer"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="export_period" minOccurs="0">
					<xs:annotation>
						<xs:documentation>
							The period for which phone leads are being exported
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start_date_time">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The start date/time for the export period in the format: dd-MM-yyyy HH:mm:ss - this cannot be more than 28 days ago
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="end_date_time">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The end date/time for the export period in the format: dd-MM-yyyy HH:mm:ss - this cannot be more than 28 days ago
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="branch" minOccurs="0" >
					<xs:annotation>
						<xs:documentation>
                            Details about which branch's phone leads are being retrieved
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove ID for the branch for which the phone leads export is being generated
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="phone_calls" minOccurs="0"  maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							Details of all the telephone call leads sent for the branch during the export period
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_number">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The branch phone number that the phone lead was made to
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="call_status">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Indicates whether the phone call connected and was answered: 1 Answered 2 Engaged 3 Unanswered 4 Abandoned 5 Missed 6 Withheld
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="call_start">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The start time of the phone call, in the format: dd-MM-yyyy HH:mm:ss
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="caller_number">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Phone number from which the call originated or 'Withheld'
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="caller_location">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Physical Location of the caller, eg 'London'. Also generic values of 'Mobile' and 'Unknown'
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="duration">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The duration of the phone call, in the format: HH:mm:ss
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

                            <xs:element name="channel"  minOccurs="0" maxOccurs="1">
                                <xs:simpleType >
                                    <xs:annotation>
                                        <xs:documentation>
                                            For dual branches it specifies what channel the phone lead was for: 1 Sales 2 Lettings
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1"/>
                                        <xs:enumeration value="2"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>

						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="errors" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The errors causing the request to fail
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="error_code" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The unique Rightmove code for the error causing the request to fail
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_description" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The full description of the error associated with the error code which has been generated
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_value" minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The value that caused this error
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="warnings" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The warning generated by the request
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="warning_code" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The unique Rightmove warning code generated due to failure to pass all of the business rules
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="warning_description" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The full description of the warning associated with the warning code which has been generated
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="warning_value" minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The value that caused this warning
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>