rightmove/src/test/resources/rtdf/xml-schema/Phase 3 calls - Performance Reporting/GetBrandEmailsRequestSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getBrandEmailsForm">
		<xs:annotation>
			<xs:documentation>
				Rightmove Realtime Datafeed Json Schema for the get brand emails request
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="network">
					<xs:annotation>
						<xs:documentation>
							Information about the network calling the API
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="network_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this network
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="brand">
					<xs:annotation>
						<xs:documentation>
							Details about which brand's emails are being retrieved
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="brand_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this brand
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="export_period">
					<xs:annotation>
						<xs:documentation>
							Defines the period for which emails are being exported
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start_date_time">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The timestamp for the start of the export period - this cannot be more than 28 days ago in the format: dd-MM-yyyy HH:mm:ss
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="end_date_time">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The timestamp for the end of the export period - this cannot be more than 28 days ago in the format: dd-MM-yyyy HH:mm:ss
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>