rightmove/src/test/resources/rtdf/xml-schema/Phase 3 calls - Performance Reporting/GetPropertyPerformanceRequestSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getPropertyPerformanceForm">
		<xs:annotation>
			<xs:documentation>
                Rightmove Realtime Datafeed XML Schema for the get property performance request
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="network">
					<xs:annotation>
						<xs:documentation>
							Information about the network calling the API
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="network_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this network
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="branch">
					<xs:annotation>
						<xs:documentation>Details about which branch's performance metrics are being retrieved
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this branch
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
                <xs:element name="property">
                    <xs:annotation>
                        <xs:documentation>Information about the property for which performance metrics are being exported
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="agent_ref">
                                <xs:simpleType >
                                    <xs:annotation>
                                        <xs:documentation>
                                            Agent's unique reference for this property
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength  value="1"/>
                                        <xs:maxLength  value="80"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
				<xs:element name="export_period">
					<xs:annotation>
						<xs:documentation>
                            Defines the period for which property performance metrics are being requested for
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="start_date">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
                                            The date for the start of the export period - this cannot be more than 28 days ago in the format: dd-MM-yyyy
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="end_date">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
                                            The date for the end of the export period - this cannot be more than 28 days ago in the format: dd-MM-yyyy
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>