rightmove/src/test/resources/rtdf/xml-schema/Phase 2 calls - Product Application/AddPremiumListingRequestSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="addPremiumListingForm">
		<xs:annotation>
			<xs:documentation>Rightmove Realtime Datafeed Xml Schema for add premium listing request
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="network">
					<xs:annotation>
						<xs:documentation>Information about the network calling the API
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="network_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this network
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="branch">
					<xs:annotation>
						<xs:documentation>Information about the branch loading this property
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this branch
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="channel">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Defines whether this is the sales or lettings channel for a branch: 1 Sales 2 Lettings
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="property">
					<xs:annotation>
						<xs:documentation>Information about the property being sent
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="agent_ref">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Agent's unique reference for this property
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string">
										<xs:minLength  value="1"/>
										<xs:maxLength  value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="premium_listing">
								<xs:annotation>
									<xs:documentation>Information about the property to premium list
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
								<xs:sequence>
									<xs:element name="display_type">
										<xs:simpleType >
											<xs:annotation>
												<xs:documentation>
													The image layout which you would like associated with your premium listed property on Rightmove: 1 - one large image + two small images, 2 - one large image
												</xs:documentation>
											</xs:annotation>
											<xs:restriction base="xs:int">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="resale_stamp_text" minOccurs="0" maxOccurs="1">
										<xs:simpleType >
											<xs:annotation>
												<xs:documentation>
													The stamp text which you would like displayed for you premium listed resale property on Rightmove (this field is mandatory if the channel provided is Resale): 1 - Auction, 4 - Stamp Duty Paid, 8 - Open House, 9 - Incentive, 10 - No Chain, 11 - Part Exchange, 12 - New Listing, 13 - Fixed Price, 14 - Premium Listing, 15 - Open To Offers, 16 - New Price, 17 - No Stamp Duty, 19 - Sea View, 20 - Public Notice, 22 - Viewing Advised, 23 - With Land, 24 - Attention Investors, 25 - Star Buy, 26 - No Sticker, 27 - Waterside, 28 - Generous Garden, 29 - Recently Renovated, 30 - Stunning Views, 31 - Smallholding, 32 - Open Day, 33 - Double Garage, 34 - Annexe, 35 - Media Tour, 36 - Best Bid, 37 - Informal Tender, 64 - Safe Move Property, 65 - Audio Tour, 66 - Video Tour, 71 - Listed Building, 72 - Period Property, 73 - Retirement, 74 - Equestrian, 75 - Conversion, 76 - Extended, 77 - Parking, 78 - Confidential Register, 79 - Buy to Let, 80 - Out Buildings
												</xs:documentation>
											</xs:annotation>
                                            <xs:restriction base="xs:int">
                                                <xs:enumeration value="1"/>
                                                <xs:enumeration value="4"/>
                                                <xs:enumeration value="8"/>
                                                <xs:enumeration value="9"/>
                                                <xs:enumeration value="10"/>
                                                <xs:enumeration value="11"/>
                                                <xs:enumeration value="12"/>
                                                <xs:enumeration value="13"/>
                                                <xs:enumeration value="14"/>
                                                <xs:enumeration value="15"/>
                                                <xs:enumeration value="16"/>
                                                <xs:enumeration value="17"/>
                                                <xs:enumeration value="19"/>
                                                <xs:enumeration value="20"/>
                                                <xs:enumeration value="22"/>
                                                <xs:enumeration value="23"/>
                                                <xs:enumeration value="24"/>
                                                <xs:enumeration value="25"/>
                                                <xs:enumeration value="26"/>
                                                <xs:enumeration value="27"/>
                                                <xs:enumeration value="28"/>
                                                <xs:enumeration value="29"/>
                                                <xs:enumeration value="30"/>
                                                <xs:enumeration value="31"/>
                                                <xs:enumeration value="32"/>
                                                <xs:enumeration value="33"/>
                                                <xs:enumeration value="34"/>
                                                <xs:enumeration value="35"/>
                                                <xs:enumeration value="36"/>
                                                <xs:enumeration value="37"/>
                                                <xs:enumeration value="64"/>
                                                <xs:enumeration value="65"/>
                                                <xs:enumeration value="66"/>
                                                <xs:enumeration value="71"/>
                                                <xs:enumeration value="72"/>
                                                <xs:enumeration value="73"/>
                                                <xs:enumeration value="74"/>
                                                <xs:enumeration value="75"/>
                                                <xs:enumeration value="76"/>
                                                <xs:enumeration value="77"/>
                                                <xs:enumeration value="78"/>
                                                <xs:enumeration value="79"/>
                                                <xs:enumeration value="80"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="lettings_stamp_text"  minOccurs="0" maxOccurs="1">
                                        <xs:simpleType >
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The stamp text which you would like displayed for you premium listed lettings property on Rightmove (this field is mandatory if the channel provided is Lettings): 2 - Available Soon, 5 - Short Let, 6 - Furnished, 7 - Long Let, 9 - Incentive, 12 - New Listing, 14 - Premium Listing, 15 - Open To Offers, 16 - New Price, 21 - Unfurnished, 22 - Viewing Advised, 26 - No Sticker, 29 - Recently Renovated, 59 - For Students, 60 - Pets Considered, 61 - Available Now, 65 - Audio Tour, 66 - Video Tour, 71 - Listed Building, 72 - Period Property, 73 - Retirement, 74 - Equestrian, 75 - Conversion, 76 - Extended, 77 - Parking, 80 - Out Buildings
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:restriction base="xs:int">
                                                <xs:enumeration value="2"/>
                                                <xs:enumeration value="5"/>
                                                <xs:enumeration value="6"/>
                                                <xs:enumeration value="7"/>
                                                <xs:enumeration value="9"/>
                                                <xs:enumeration value="12"/>
                                                <xs:enumeration value="14"/>
                                                <xs:enumeration value="15"/>
                                                <xs:enumeration value="16"/>
                                                <xs:enumeration value="21"/>
                                                <xs:enumeration value="22"/>
                                                <xs:enumeration value="26"/>
                                                <xs:enumeration value="29"/>
                                                <xs:enumeration value="59"/>
                                                <xs:enumeration value="60"/>
                                                <xs:enumeration value="61"/>
                                                <xs:enumeration value="65"/>
                                                <xs:enumeration value="66"/>
                                                <xs:enumeration value="71"/>
                                                <xs:enumeration value="72"/>
                                                <xs:enumeration value="73"/>
                                                <xs:enumeration value="74"/>
                                                <xs:enumeration value="75"/>
                                                <xs:enumeration value="76"/>
                                                <xs:enumeration value="77"/>
                                                <xs:enumeration value="80"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
									<xs:element name="web_flag" minOccurs="0">
										<xs:simpleType >
											<xs:annotation>
												<xs:documentation>
													Is this a web premium listing
												</xs:documentation>
											</xs:annotation>
											<xs:restriction base="xs:boolean"/>
										</xs:simpleType>
									</xs:element>
									<xs:element name="mobile_flag" minOccurs="0">
										<xs:simpleType >
											<xs:annotation>
												<xs:documentation>
													Is this a mobile premium listing
												</xs:documentation>
											</xs:annotation>
											<xs:restriction base="xs:boolean"/>
										</xs:simpleType>
									</xs:element>
								</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>