rightmove/src/test/resources/rtdf/xml-schema/Phase 1 calls - Property Upload/GetBranchPropertyListRequestSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getBranchPropertyListForm">
		<xs:annotation>
			<xs:documentation>Rightmove Realtime Datafeed Xml Schema for GetBranchPropertyList respons
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="network">
					<xs:annotation>
						<xs:documentation>Information about the network calling the API
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="network_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this network
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="branch">
					<xs:annotation>
						<xs:documentation>Information about the branch loading this property list
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove reference for this branch
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="channel"  minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											For dual branches it allows to retrieve all the properties for a specific chanel
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>