rightmove/src/test/resources/rtdf/xml-schema/Phase 1 calls - Property Upload/GetBranchPropertyListResponseSchema.xsd.txt

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="getBranchPropertyListResponse">
		<xs:annotation>
			<xs:documentation>Rightmove Realtime Datafeed xml Schema for GetBranchPropertyList response
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>

				<xs:element name="request_id">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The unique ID of the request which this response is associated with
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="message">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The message content for the response
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="success">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								Indicates whether or not the request was successful
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:boolean"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="request_timestamp">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The time at which the request was received in the format: dd-MM-yyyy HH:mm:ss
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="response_timestamp">
					<xs:simpleType >
						<xs:annotation>
							<xs:documentation>
								The time at which the response was sent in the format: dd-MM-yyyy HH:mm:ss
							</xs:documentation>
						</xs:annotation>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>

				<xs:element name="branch"  minOccurs="0" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Information about the branch sent in the request
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="branch_id">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Unique Rightmove ID for the branch sent in the request
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="channel"  minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											For dual branches it allows to retrieve all the properties for a specific channel
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="property" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>The list of live properties on Rightmove for the branch sent in the request
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="rightmove_id" minOccurs="1"  maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											Rightmove's unique reference for this property
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="agent_ref" minOccurs="1"  maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The agent's unique reference for this property
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>

							<xs:element name="update_date" minOccurs="0"  maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The last update date provided for this property in the format: dd-MM-yyyy HH:mm:ss
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="channel"  minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The channel for this property
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:int">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="errors" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The errors causing the request to fail
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="error_code" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The unique Rightmove code for the error causing the request to fail
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_description" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The full description of the error associated with the error code which has been generated
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_value" minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The value that caused this error
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="warnings" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>
							The warning generated by the request
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="warning_code" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The unique Rightmove warning code generated due to failure to pass all of the business rules
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="warning_description" minOccurs="1" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The full description of the warning associated with the warning code which has been generated
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="warning_value" minOccurs="0" maxOccurs="1">
								<xs:simpleType >
									<xs:annotation>
										<xs:documentation>
											The value that caused this warning
										</xs:documentation>
									</xs:annotation>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>